
7331DataMiningNoShow - Copy (2).ipynb
7331DataMiningNoShow - Copy.ipynb
.ipynb_checkpoints/7331DataMiningNoShow - SImpleStats-checkpoint.ipynb
.ipynb_checkpoints/7331DataMiningNoShow-checkpoint.ipynb
example/.ipynb_checkpoints/StudentExampleLab1-checkpoint.ipynb
data/updated.xlsx
data/~$updated.xlsx
7331DataMiningNoShow - SImpleStats - Copy.ipynb
Lab2 - Copy.ipynb
LAB2CM.ipynb
Lab2_Dana_Modelling_5.ipynb
.ipynb_checkpoints/Lab3-checkpoint.ipynb
.ipynb_checkpoints/Lab2Final-checkpoint.ipynb
LAB3/Java_Viz/Gestures.pde
LAB3/.ipynb_checkpoints/Interactive Plots Test - Dana-checkpoint.ipynb
LAB3/.ipynb_checkpoints/Lab3-checkpoint.ipynb
