
7331DataMiningNoShow - Copy (2).ipynb
7331DataMiningNoShow - Copy.ipynb
.ipynb_checkpoints/7331DataMiningNoShow - SImpleStats-checkpoint.ipynb
.ipynb_checkpoints/7331DataMiningNoShow-checkpoint.ipynb
example/.ipynb_checkpoints/StudentExampleLab1-checkpoint.ipynb
data/updated.xlsx
data/~$updated.xlsx
7331DataMiningNoShow - SImpleStats - Copy.ipynb
Lab2 - Copy.ipynb
LAB2CM.ipynb
